.notifications.svelte-rlgyzw {
	border: 1px solid white;
	padding: 1.2rem;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}
input[type='email'].svelte-rlgyzw {
	background: rgba(0, 0, 0, 30%);
	color: #fff;
	border: 1px solid var(--theme-accent);
	border-radius: 5px;
	outline: none;
	padding: 1.2rem;
	font-size: 1.2rem;
	width: 100%;
	margin-bottom: 20px;
}
label.svelte-rlgyzw {
	display: block;
}
button.svelte-rlgyzw {
	background: #e7e4ee;
	color: var(--theme-accent);
	text-decoration: none;
	text-align: left;
	border: none;
	cursor: pointer;
	padding: 1rem;
	border-radius: 10px;
	outline: none;
	font-size: 1rem;
	line-height: 1.25;
	text-align: center;
	width: 100%;
}
