*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@charset "UTF-8";

@font-face {
  font-family: ThunderBold;
  font-weight: bold;
  src: url("../fonts/Thunder-SemiBoldLC.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
}

h1 {
  --font-size: 40pt;
  --typography-spacing-vertical: 3rem;
  font-family: ThunderBold;
}

h2 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 2.625rem;
  font-family: Inter;
}

body {
  width: 100%;
  margin: 0;
  color:white;
  background:#7C5ECC;
  font-family: Inter;
}

main{
  margin-right: auto;
  margin-left: auto;
  width:100%;
  max-width: 1130px;
  padding: 1rem;
}